<mat-toolbar>
    <div class="example-button-row">
        <a mat-button href="#">Home</a>
        <a mat-button href="/supplier/list">Suppliers</a>
    </div>
    <span class="example-spacer"></span>
    <!-- <div>
        <input matInput type="search" class="form-control text-bg-dark" placeholder="Search..." aria-label="Search">
    </div> -->
    <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
    </div>
</mat-toolbar>
    