<section>
    <div class="container">
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="createSupplier()">Create</button>       
            <mat-form-field class="search-bar">
                <mat-label>Search</mat-label>
                <input type="tel" matInput placeholder="Search" #searchField (input)="getSuppliers(searchField.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <!-- <div class="search-row">
            <input matInput>
        </div> -->
        <table fixedLayout="true" mat-table [dataSource]="dataSource" class="supplier-table mat-elevation-z8">
            <ng-container matColumnDef="SupplierId">
                <th class="width-textArea" mat-header-cell *matHeaderCellDef> Supplier ID </th>
                <td class="width-textArea"mat-cell *matCellDef="let supplier"> {{ supplier.supplierId }} </td>
            </ng-container>
        
            <ng-container matColumnDef="Name">
                <th class="width-textArea" mat-header-cell *matHeaderCellDef> Name </th>
                <td class="width-textArea" mat-cell *matCellDef="let supplier"> {{ supplier.name }} </td>
            </ng-container>
        
            <ng-container matColumnDef="TelephoneNumber">
                <th class="width-textArea" mat-header-cell *matHeaderCellDef> Telephone Number </th>
                <td class="width-textArea" mat-cell *matCellDef="let supplier"> {{ supplier.telephoneNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="View">
                <th class="width-textArea" mat-header-cell *matHeaderCellDef> Action </th>
                <td class="width-textArea" style="text-align: center;" mat-cell *matCellDef="let supplier"><button mat-button (click)="editField(supplier)">View</button></td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="paginator">
            <mat-paginator      
                [pageSize]="pageSize"
                [pageIndex]="pageNumber"
                [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
                [length]="pageLength"
                aria-label="Select page"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</section>